footer {
	background: $light-grey;
}
#contact-info {
	width: 50%;
	float: right;
	text-align: left;	
}
#copyright {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	width: 50%;
	float: right;
	text-align: right;
}