footer {
	background: $light-grey;
	padding: 1.5em 0 0;
}
#contact-info {
	width: 50%;
	float: left;
	text-align: left;
	.email {
		margin-right: 2em;
	}
}
#copyright {
	width: 50%;
	float: right;
	text-align: right;
}