footer {
	background: $light-grey;
	padding: 1.5em 0 0;
}
#contact-info {
	width: 50%;
	float: left;
	text-align: left;
	.email, .phone {
		margin-right: 2em;
	}
}
#copyright {
	width: 50%;
	float: right;
	text-align: right;
	.privacy {
		margin-right: 2em;
	}
}

@media screen and (min-width: 679px) {
	#contact-info {
		i.icon-email, i.icon-phone {
			display: none;
		}		
	}

}
@media screen and (max-width: 680px) {
	#contact-info {
		.email, .phone {
			display: none;
			margin-right: 0;
		}
	}
}