#site-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999 !important;
	margin: 0px;
	padding: 1em 0;
	text-align: center;
	background: $header;
	opacity: 0.95;
	.logo img {
		max-width: 70px;
		height: auto;
	}
}

.home #site-header {
	opacity: 0;
}

.home-logo {
	margin: 258.5px auto;
	position: absolute;
	z-index: 250;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	.logo img {
		max-width: 150px;
		height: auto;
	}	
}