#site-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999 !important;
	margin: 0px;
	padding: 1em 0 0;
	text-align: center;
	background: $header;
	opacity: 0.95;
	.logo img {
		max-width: 70px;
		height: auto;
	}
}

#site-header {
	opacity: 0;
}

.left {
	width: 90%;
	margin: 0 auto;
	padding: 1.5em 0;
	@include clearfix; 
	.home-logo {
		// text-align: right;
		// padding-bottom: 1.5em;
		width: 50%;
		float: left;
		.logo img {
			max-width: 100px;
			height: auto;
		}	
	}
	.access {
		width: 50%;
		float: right;
	}
}
.featured-image {
	// margin: 0 auto 6em;
	margin: 0 auto;
	max-width: 65%;
	img {
		opacity: 0.9;
	}
}	
.caption-left {
	display: none;
	// text-align: right;
	// top: 9.5em;
	// left: -5em;
}
.caption-right {
	// text-align: right;
	text-align: center;
	// width: 450px;
	width: 100%;
	// position: absolute;
	// bottom: 2.5em;
	// right: -6em;
	// right: 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	padding: 2em 1.5em 0;
	// background: rgba(255,255,255,0.8);
	// border-right: 1px solid #bbbbbb;
}
@media screen and (max-width: $m) {
	.featured-image {
		max-width: 100%;
		margin: 0 auto 4em;
	}
}