.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
	span {
		margin-right: 6px;
	}
}

.contact-left {
	width: 30%;
	float: left;
}
.contact-right {
	float: right;
	margin-left: 5%;
	width: 65%;
}
@media screen and (max-width: $m) {
	.contact-left, .contact-right {
		width: 100%;
		float: none;
		margin: 0;
	}
}