.featured-image {
	margin: 0 auto 6em;
	min-height: 500px;
	img {
		opacity: 0.3;
	}
}
.caption-left {
	display: none;
	// text-align: right;
	// top: 9.5em;
	// left: -5em;
}
.caption-right {
	text-align: right;
	width: 310px;
	position: absolute;
	bottom: 2.5em;
	right: -4em;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	padding-right: 1.5em;
	border-right: 1px solid #bbbbbb;
}
.two-column {
	margin: 0 auto 6em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	text-align: justify;
}
.one-column {
	margin: 0 auto 8em;
	padding: 4em 0;
	width: 210px;
	text-align: center;
	border-top: $border;
	border-bottom: $border;
	.question {
		font-style: italic;
		font-family: $italic;
		font-weight: 400;
		font-size: 32px;
		margin-bottom: 1em;
	}
	.answer p {
		margin: 0;
		font-size: 16px;
	}
}
#blog-feed {
	@include clearfix;
	article {
		width: 50%;
		float: left;
	}
}