.two-column {
	margin: 0 auto 6em;
	-webkit-column-count: 2;
	-webkit-column-gap: 3.5em;
	text-align: justify;
	p {
		letter-spacing: 0.25px;
	}
}
.one-column {
	margin: 0 auto 3em;
	padding: 4em 0;
	text-align: center;
	border-top: $border;
	border-bottom: $border;
	.question {
		font-style: italic;
		font-family: $italic;
		font-weight: 400;
		font-size: 32px;
		margin-bottom: 1em;
	}
	.answer p {
		margin: 0;
		font-size: 16px;
	}
}
@media screen and (max-width: $m) {
	.two-column {
		margin: 6em auto;
		-webkit-column-count: 1;
		-webkit-column-gap: 0;
	}
}
@media screen and (min-width: 761px) {
	.one-column {
		width: 50%;
	}
}
@media screen and (min-width: 501px) and (max-width: 760px) {
	.one-column {
		width: 75%;
	}
}
@media screen and (max-width: 500px) {
	.one-column {
		width: 100%;
		margin: 0 auto 1em;
	}
}
#blog-feed {
	@include clearfix;
	article {
		width: 50%;
		float: left;
	}
}