.one-column {
	margin: 0 auto;
	padding: 4em 0;
	width: 210px;
	text-align: center;
	border-top: $border;
	border-bottom: $border;
	.question {
		font-style: italic;
		font-family: $italic;
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 2em;
	}
	.answer p {
		margin: 0;
	}
}